winlibs/** linguist-vendored
linlibs/** linguist-vendored
maclibs/** linguist-vendored
executables/** linguist-vendored
legacy/** linguist-vendored
vendor/** linguist-vendored
**/clay.h linguist-vendored
