# Compiled objects
obj/

# Build artifacts
vendor/raylib/build/
vendor/raylib/*.a
vendor/raylib/*.so
vendor/raylib/*.dll
vendor/raylib/*.dylib

# Project executables
underforge
executables/

# Savefiles
*.sav
